.Tab-Panel {
    flex-direction: row;
    width: 100%;
    height: 25px;
    align-items: stretch;
    justify-content: flex-end;
    align-self: auto;
}

.Tab-Content {
    background-color: var(--unity-colors-button-background);
    height: 100%;
}

Button.Tab {
    height: 100%;
    width: 49%;
    background-color: var(--unity-colors-window-background);
}

Button.Tab-Active {
    background-color: var(--unity-colors-button-background);
}
